# For Local: mongodb://localhost:27017
# For Cloud: mongodb+srv://<user>:<password>@cluster.xyz.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=your_mongodb_connection_string_here
DATABASE_NAME=curalink
PORT=8000

# AI Services
HUGGINGFACE_TOKEN=your_hf_token_here
GROQ_API_KEY=your_groq_key_here
